### Lists and Dictionary Comprehensions

In [3]:
numbers = [1,2,3]
new_numbers = [i*2 for i in range(1,5)]
print(new_numbers)

[2, 4, 6, 8]

##### Python Sequences
- list
- range
- string
- tuple

##### Dictionary Comprehension

In [23]:
import random

names = ['Harsh', 'Aman', 'Imran', 'Manan', 'Manav']
student_scores = {i:random.randint(1,100) for i in names}
student_scores

{'Harsh': 95, 'Aman': 60, 'Imran': 67, 'Manan': 76, 'Manav': 50}

In [35]:
# passed_students = {name: f'{student_scores[name]} is Pass' for name in student_scores if student_scores[name] > 60 } # alternate method
passed_students = {name: f'{score} is pass' for (name, score) in student_scores.items() if score > 60}
passed_students

{'Harsh': '95 is pass', 'Imran': '67 is pass', 'Manan': '76 is pass'}

##### Counting letters of words in the sentence

In [37]:
sentence = "What is the Airspeed Velocity of an Unladen Swallow?"
# Don't change code above ðŸ‘†

# Write your code below:

result = {word: len(word) for word in sentence.split()}

print(result)

{'What': 4, 'is': 2, 'the': 3, 'Airspeed': 8, 'Velocity': 8, 'of': 2, 'an': 2, 'Unladen': 7, 'Swallow?': 8}

#### Iterating over Pandas DataFrame

In [46]:
import  pandas
student_dict = {
    'names': ['Harsh', 'Aman', 'Imran', 'Manan', 'Manav'],
    'score': [56, 12, 34, 57, 78]
}

df = pandas.DataFrame(student_dict)
df

   names  score
0  Harsh     56
1   Aman     12
2  Imran     34
3  Manan     57
4  Manav     78

In [51]:
# # Loop through a df
# for (key, value) in df.items():
#     print(value)

# Loop through rows of a df
for (index, row) in df.iterrows():
    print(row.names, row.score)

Harsh 56
Aman 12
Imran 34
Manan 57
Manav 78